body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8e8e4;
}

.container{
    width: 70%;
    background-color: rgb(243, 239, 239);
    margin: 0 auto;
    padding: 0;
    text-align: left;
    border-radius: 0.5rem;
}

.cabecera{
    background-color: rgb(78, 78, 238);
    color: white;
    margin: 0;
    padding: 0.5rem;
    font-weight: bold;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.post{
    padding: 1rem;
}

.footer{
    background-color: #c2c5aa;
    text-align: center;
    padding: 0.1rem;
    font-weight: bold;
}